@import url(google_roboto_font.css);

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

a {
  text-decoration: none;
  color: #0f0f0f;
}

a.active, a:hover{
  text-decoration: underline;
  color: #FFA500;
}

.blog-date {
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: lighter;
    margin: 10px 0;
}
